pipeline/detailcopyactivity_mergeallfiles_copy1.json
{
	"name": "detailcopyactivity_mergeallfiles_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "strcontnrfile/destinationfile/"
					},
					{
						"name": "Destination",
						"value": "lab//Empinfo.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filepath",
								"value": "$$FILEPATH"
							},
							{
								"name": "additional count",
								"value": "$$COLUMN:Department ID"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_copyactivitymergesource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_copyactivitydestination",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-68.eastus.logic.azure.com:443/workflows/43e7e0cb1d8b4cbf981c613bb393b336/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=tV7SSh7aIl-pwNqsmb6I74jEcGW4_lYBnLIvPAyDqzA",
					"method": "POST",
					"body": {
						"Pipelinename": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Copy data1').error.message}"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-09T06:14:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}